@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&family=Ubuntu:wght@400;700&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;

.container {
	max-width: 1170px;
	padding: 0 30px;
	margin: 0 auto;
}

.header {
	background: linear-gradient(274.12deg, #378FD9 0%, #4EBEFE 75.34%), #E43B7C;
	color: white;
	height: 827px;
	&__logo {
		padding-top: 62px;
	}
  &__row {
	display: flex;
	}
  &__about {
		max-width: 559px;
	}
  &__title {
		margin-top: 135px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 37px;
		line-height: 49px;
		margin-bottom: 21px;
		letter-spacing: 0.74px;
	}
	&__title span {
		font-size: 59px;
		line-height: 73px;
		letter-spacing: 1.18px;

	}
  &__text {
		font-family: 'Open Sans', sans-serif;
		line-height: 27px;
		font-size: 16px;
		max-width: 427px;
		margin-bottom: 43px;
		letter-spacing: 0.32px;
	}
  &__button {
		display: inline-block;
		background-color: #FFD429;
		padding: 17px 26px 14px 28px;
	}
  &__button--link {
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 15px;
		line-height: 25px;
		color: #2E2A1B;
		letter-spacing: 0.3px;
	}
  &__img {
		max-width: 520px;
	
	}
  &__img--link {
	width: auto;
	position: absolute;
	}
}

.future {
	padding-top: 108px;
	h2 {
		color: #201B2D;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
	}
  &__title {
		text-align: center;
		font-size: 30px;
		line-height: 25px;
		letter-spacing: 0.6px;
		margin-bottom: 70px;
	}
  &__list {
		display: flex;
		column-gap: 160px;
		padding-bottom: 120px;
	}
  &__item {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
  &__item--img {
		margin-bottom: 34px;
	}
  &__item--title {
		margin-bottom: 18px;
		font-size: 19px;
		line-height: 25px;
		letter-spacing: 0.38px;
	}
  &__item--text {
		max-width: 290px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
	}
}


.order {
	padding: 105px 0 102px;
	background-color: #ecf3f8;
	color: #201B2D;
  &__title {
		text-align: center;
		font-size: 30px;
		line-height: 25px;
		letter-spacing: 0.6px;
		margin-bottom: 70px;
		color: #201B2D;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
	}
	
  &__group {
		text-align: center;
	}
  &__item--link {
		border: 1px solid #BBBBBB;
		padding: 11px 0 12px 24px;
		margin-bottom: 15px;
		width: 343px;
	placeholder {
		letter-spacing: 0.3px;
		font-weight: 400;
		font-size: 15px;
		line-height: 25px;
		font-family: 'Ubuntu';
		color: rgba(32, 27, 45, 0.55);
		}
	}

  &__button {
		display: inline-block;
		background-color: #FFD429;
		padding: 17px 26px 14px 28px;
		width: 343px;
	}
  &__button--link {
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 15px;
		line-height: 25px;
		color: #2E2A1B;
		letter-spacing: 0.3px;
	}
}

.footer {
	background-color: #164d7a;
	&__text {
		text-align: center;
		color: white;
		padding: 57px 0 61px;
	}
}
